:root {
     --primary-color: #6DD3CE;  /* Tifanny Blue */
    --secondary-color: #C8E9A0; /* Tea Green */
    --accent1-color: #C8ADC0; /* Thistle */
    --accent2-color: #5B5B5B; /* Davy's Gray */
    --heading-font: "Alfa Slab One", sans-serif;
    --body-font: "Open Sans", sans-serif;
}


header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

header img {
    width: auto;
    height: 125px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}


header, main, footer {
    width: 840px;
    margin: 0 auto;
}


h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 20px;
}

.hero {
    position: relative;
    overflow: hidden;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: black;

}


.hero article {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 12px;
    margin: 0;
    text-align: center;
    background-color: var(--secondary-color);
    color: black;

}

.hero article img {
    float: right;
    width: 125px;
}

